@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .socialIcon {
    @apply hover:text-amber-700
  }
  .navItem {
    @apply min-[380px]:p-2 uppercase min-[380px]:tracking-wide sm:tracking-widest hover:text-amber-700 p-1 text-sm min-[380px]:text-base
  }
  .modalSize{
    width: clamp(50%, 700px, 95%);
  }
  .modal {
    @apply m-auto flex flex-col items-center rounded-xl modalSize aspect-video;
  }
}

body > div:first-child{
  height: 100%;
}


.customscroll::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #1f2937;
}


.customscroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
} 